{% assign _sid = section.id %}
{% render 'reviews-styles' %}

{%- assign is_apparel_or_gear = false -%}
{%- assign product_type_lower = product.type | downcase -%}
{%- if product_type_lower contains 'apparel' or product_type_lower contains 'gear' or product_type_lower contains 'clothing' or product.tags contains 'apparel' or product.tags contains 'gear' -%}
  {%- assign is_apparel_or_gear = true -%}
{%- endif -%}

{%- if section.settings.use_series_colors -%}
  {%- assign sfp_list = product.metafields.custom.sfp_section.value -%}
  {%- assign sfp_section = sfp_list | first -%}
  {%- assign product_series = sfp_section.series.value -%}

  {%- if product_series -%}
    {%- assign series_handle = product_series.handle -%}
    {%- if series_handle == blank -%}
      {%- assign series_name_lower = product_series.series_name | downcase | replace: ' ', '-' -%}
      {%- assign series_handle = series_name_lower -%}
    {%- endif -%}
    {%- assign featured_color = product_series.template_specific_dynamic_featured_color | default: section.settings.bg_color -%}
    {%- assign accent_colors = product_series.template_specific_accent_color_s -%}
    {%- assign accent_1 = accent_colors[0] | default: section.settings.fallback_accent_1 -%}
    {%- assign accent_2 = accent_colors[1] | default: section.settings.fallback_accent_2 -%}
    {%- assign accent_3 = accent_colors[2] | default: section.settings.fallback_accent_3 -%}
  {%- else -%}
    {%- assign series_handle = '' -%}
    {%- assign featured_color = section.settings.bg_color -%}
    {%- assign accent_1 = section.settings.fallback_accent_1 -%}
    {%- assign accent_2 = section.settings.fallback_accent_2 -%}
    {%- assign accent_3 = section.settings.fallback_accent_3 -%}
  {%- endif -%}
{%- else -%}
  {%- assign series_handle = '' -%}
  {%- assign featured_color = section.settings.bg_color -%}
  {%- assign accent_1 = section.settings.fallback_accent_1 -%}
  {%- assign accent_2 = section.settings.fallback_accent_2 -%}
  {%- assign accent_3 = section.settings.fallback_accent_3 -%}
{%- endif -%}

{%- comment -%}Override with Flagship colors for apparel/gear products{%- endcomment -%}
{%- if is_apparel_or_gear -%}
  {%- assign series_handle = 'flagship-series' -%}
  {%- assign featured_color = '#AE1F24' -%}
  {%- assign accent_1 = '#FFFFFF' -%}
  {%- assign accent_2 = '#999999' -%}
  {%- assign accent_3 = '#000000' -%}
{%- endif -%}

{%- if section.settings.text_color_source and section.settings.text_color_source != blank -%}
  {%- case section.settings.text_color_source -%}
    {%- when 'featured' -%}{%- assign dynamic_text_color = featured_color -%}
    {%- when 'accent_1' -%}{%- assign dynamic_text_color = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign dynamic_text_color = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign dynamic_text_color = accent_3 -%}
    {%- else -%}{%- assign dynamic_text_color = section.settings.text_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign dynamic_text_color = section.settings.text_color -%}
{%- endif -%}

{%- if section.settings.underline_color_source and section.settings.underline_color_source != blank -%}
  {%- case section.settings.underline_color_source -%}
    {%- when 'featured' -%}{%- assign underline_color = featured_color -%}
    {%- when 'accent_1' -%}{%- assign underline_color = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign underline_color = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign underline_color = accent_3 -%}
    {%- else -%}{%- assign underline_color = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign underline_color = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_header_bg_source and section.settings.yotpo_header_bg_source != blank -%}
  {%- case section.settings.yotpo_header_bg_source -%}
    {%- when 'featured' -%}{%- assign yotpo_header_bg = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_header_bg = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_header_bg = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_header_bg = accent_3 -%}
    {%- else -%}{%- assign yotpo_header_bg = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_header_bg = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_progress_bar_source and section.settings.yotpo_progress_bar_source != blank -%}
  {%- case section.settings.yotpo_progress_bar_source -%}
    {%- when 'featured' -%}{%- assign yotpo_progress_bar = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_progress_bar = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_progress_bar = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_progress_bar = accent_3 -%}
    {%- else -%}{%- assign yotpo_progress_bar = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_progress_bar = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_svg_icon_source and section.settings.yotpo_svg_icon_source != blank -%}
  {%- case section.settings.yotpo_svg_icon_source -%}
    {%- when 'featured' -%}{%- assign yotpo_svg_icon = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_svg_icon = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_svg_icon = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_svg_icon = accent_3 -%}
    {%- else -%}{%- assign yotpo_svg_icon = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_svg_icon = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_button_text_source and section.settings.yotpo_button_text_source != blank -%}
  {%- case section.settings.yotpo_button_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_button_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_button_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_button_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_button_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_button_text = accent_1 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_button_text = accent_1 -%}
{%- endif -%}

{%- if section.settings.yotpo_button_bg_source and section.settings.yotpo_button_bg_source != blank -%}
  {%- case section.settings.yotpo_button_bg_source -%}
    {%- when 'featured' -%}{%- assign yotpo_button_bg = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_button_bg = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_button_bg = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_button_bg = accent_3 -%}
    {%- else -%}{%- assign yotpo_button_bg = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_button_bg = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_verified_text_source and section.settings.yotpo_verified_text_source != blank -%}
  {%- case section.settings.yotpo_verified_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_verified_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_verified_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_verified_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_verified_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_verified_text = accent_2 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_verified_text = accent_2 -%}
{%- endif -%}

{%- if section.settings.yotpo_pagination_text_source and section.settings.yotpo_pagination_text_source != blank -%}
  {%- case section.settings.yotpo_pagination_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_pagination_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_pagination_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_pagination_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_pagination_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_pagination_text = accent_3 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_pagination_text = accent_3 -%}
{%- endif -%}

{%- if section.settings.yotpo_pagination_border_source and section.settings.yotpo_pagination_border_source != blank -%}
  {%- case section.settings.yotpo_pagination_border_source -%}
    {%- when 'featured' -%}{%- assign yotpo_pagination_border = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_pagination_border = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_pagination_border = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_pagination_border = accent_3 -%}
    {%- else -%}{%- assign yotpo_pagination_border = accent_2 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_pagination_border = accent_2 -%}
{%- endif -%}

{%- if section.settings.yotpo_pagination_bg_source and section.settings.yotpo_pagination_bg_source != blank -%}
  {%- case section.settings.yotpo_pagination_bg_source -%}
    {%- when 'featured' -%}{%- assign yotpo_pagination_bg = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_pagination_bg = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_pagination_bg = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_pagination_bg = accent_3 -%}
    {%- else -%}{%- assign yotpo_pagination_bg = 'transparent' -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_pagination_bg = 'transparent' -%}
{%- endif -%}

{%- if section.settings.yotpo_pagination_hover_text_source and section.settings.yotpo_pagination_hover_text_source != blank -%}
  {%- case section.settings.yotpo_pagination_hover_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_pagination_hover_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_pagination_hover_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_pagination_hover_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_pagination_hover_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_pagination_hover_text = accent_1 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_pagination_hover_text = accent_1 -%}
{%- endif -%}

{%- if section.settings.yotpo_pagination_hover_border_source and section.settings.yotpo_pagination_hover_border_source != blank -%}
  {%- case section.settings.yotpo_pagination_hover_border_source -%}
    {%- when 'featured' -%}{%- assign yotpo_pagination_hover_border = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_pagination_hover_border = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_pagination_hover_border = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_pagination_hover_border = accent_3 -%}
    {%- else -%}{%- assign yotpo_pagination_hover_border = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_pagination_hover_border = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_pagination_hover_bg_source and section.settings.yotpo_pagination_hover_bg_source != blank -%}
  {%- case section.settings.yotpo_pagination_hover_bg_source -%}
    {%- when 'featured' -%}{%- assign yotpo_pagination_hover_bg = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_pagination_hover_bg = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_pagination_hover_bg = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_pagination_hover_bg = accent_3 -%}
    {%- else -%}{%- assign yotpo_pagination_hover_bg = 'transparent' -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_pagination_hover_bg = 'transparent' -%}
{%- endif -%}

{%- if section.settings.yotpo_input_text_source and section.settings.yotpo_input_text_source != blank -%}
  {%- case section.settings.yotpo_input_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_input_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_input_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_input_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_input_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_input_text = accent_3 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_input_text = accent_3 -%}
{%- endif -%}

{%- if section.settings.yotpo_radio_text_source and section.settings.yotpo_radio_text_source != blank -%}
  {%- case section.settings.yotpo_radio_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_radio_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_radio_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_radio_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_radio_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_radio_text = accent_3 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_radio_text = accent_3 -%}
{%- endif -%}

{%- if section.settings.yotpo_content_bg_source and section.settings.yotpo_content_bg_source != blank -%}
  {%- case section.settings.yotpo_content_bg_source -%}
    {%- when 'featured' -%}{%- assign yotpo_content_bg = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_content_bg = '#E8E8E8' -%}
    {%- when 'accent_2' -%}{%- assign yotpo_content_bg = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_content_bg = accent_3 -%}
    {%- else -%}{%- assign yotpo_content_bg = grunge_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_content_bg = grunge_color -%}
{%- endif -%}

{%- if section.settings.yotpo_content_bg_source == 'accent_1' -%}
  {%- assign yotpo_content_opacity = '1' -%}
{%- elsif section.settings.yotpo_content_bg_source == 'accent_3' -%}
  {%- comment -%}If using black (accent_3), use barely lighter version{%- endcomment -%}
  {%- assign yotpo_content_bg = '#0a0a0a' -%}
  {%- assign yotpo_content_opacity = '1' -%}
{%- elsif section.settings.yotpo_content_bg_source == 'grunge' -%}
  {%- comment -%}If using grunge, check if it's black and use barely lighter version{%- endcomment -%}
  {%- if grunge_color == accent_3 or grunge_color == '#000000' or grunge_color == '#000' or grunge_color == 'black' -%}
    {%- assign yotpo_content_bg = '#0a0a0a' -%}
    {%- assign yotpo_content_opacity = '1' -%}
  {%- else -%}
    {%- assign yotpo_content_opacity = '1' -%}
  {%- endif -%}
{%- else -%}
  {%- assign yotpo_content_opacity = '0.15' -%}
{%- endif -%}

{%- if section.settings.yotpo_main_btn_text_source and section.settings.yotpo_main_btn_text_source != blank -%}
  {%- case section.settings.yotpo_main_btn_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_main_btn_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_main_btn_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_main_btn_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_main_btn_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_main_btn_text = accent_1 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_main_btn_text = accent_1 -%}
{%- endif -%}

{%- if section.settings.yotpo_main_btn_bg_source and section.settings.yotpo_main_btn_bg_source != blank -%}
  {%- case section.settings.yotpo_main_btn_bg_source -%}
    {%- when 'featured' -%}{%- assign yotpo_main_btn_bg = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_main_btn_bg = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_main_btn_bg = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_main_btn_bg = accent_3 -%}
    {%- else -%}{%- assign yotpo_main_btn_bg = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_main_btn_bg = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_fill_btn_text_source and section.settings.yotpo_fill_btn_text_source != blank -%}
  {%- case section.settings.yotpo_fill_btn_text_source -%}
    {%- when 'featured' -%}{%- assign yotpo_fill_btn_text = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_fill_btn_text = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_fill_btn_text = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_fill_btn_text = accent_3 -%}
    {%- else -%}{%- assign yotpo_fill_btn_text = accent_1 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_fill_btn_text = accent_1 -%}
{%- endif -%}

{%- if section.settings.yotpo_fill_btn_bg_source and section.settings.yotpo_fill_btn_bg_source != blank -%}
  {%- case section.settings.yotpo_fill_btn_bg_source -%}
    {%- when 'featured' -%}{%- assign yotpo_fill_btn_bg = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_fill_btn_bg = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_fill_btn_bg = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_fill_btn_bg = accent_3 -%}
    {%- else -%}{%- assign yotpo_fill_btn_bg = featured_color -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_fill_btn_bg = featured_color -%}
{%- endif -%}

{%- if section.settings.yotpo_verified_icon_circle_source and section.settings.yotpo_verified_icon_circle_source != blank -%}
  {%- case section.settings.yotpo_verified_icon_circle_source -%}
    {%- when 'featured' -%}{%- assign yotpo_verified_icon_circle = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_verified_icon_circle = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_verified_icon_circle = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_verified_icon_circle = accent_3 -%}
    {%- else -%}{%- assign yotpo_verified_icon_circle = accent_3 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_verified_icon_circle = accent_3 -%}
{%- endif -%}

{%- if section.settings.yotpo_verified_icon_check_source and section.settings.yotpo_verified_icon_check_source != blank -%}
  {%- case section.settings.yotpo_verified_icon_check_source -%}
    {%- when 'featured' -%}{%- assign yotpo_verified_icon_check = featured_color -%}
    {%- when 'accent_1' -%}{%- assign yotpo_verified_icon_check = accent_1 -%}
    {%- when 'accent_2' -%}{%- assign yotpo_verified_icon_check = accent_2 -%}
    {%- when 'accent_3' -%}{%- assign yotpo_verified_icon_check = accent_3 -%}
    {%- when 'transparent' -%}{%- assign yotpo_verified_icon_check = 'transparent' -%}
    {%- else -%}{%- assign yotpo_verified_icon_check = accent_1 -%}
  {%- endcase -%}
{%- else -%}
  {%- assign yotpo_verified_icon_check = accent_1 -%}
{%- endif -%}

{%- case section.settings.grunge_border_color_source -%}
  {%- when 'featured' -%}{%- assign grunge_color = featured_color -%}
  {%- when 'accent_1' -%}{%- assign grunge_color = accent_1 -%}
  {%- when 'accent_2' -%}{%- assign grunge_color = accent_2 -%}
  {%- when 'accent_3' -%}{%- assign grunge_color = accent_3 -%}
  {%- else -%}{%- assign grunge_color = featured_color -%}
{%- endcase -%}
{%- assign grunge_color = grunge_color | default: section.settings.fallback_accent_1 -%}

{%- if section.settings.use_grunge_as_bg -%}
  {%- assign section_bg_color = grunge_color -%}
{%- elsif section.settings.section_bg_color and section.settings.section_bg_color != blank -%}
  {%- assign section_bg_color = section.settings.section_bg_color -%}
{%- else -%}
  {%- assign section_bg_color = section.settings.bg_color -%}
{%- endif -%}

{% unless product.metafields.meta.instagram_feed == blank %}
  {% if section.settings.anchor_id != blank %}<a name="{{ section.settings.anchor_id }}"></a>{% endif %}
  <section id="five-nation-{{ _sid }}" class="fivenation-section section-{{ _sid }}{% if section.settings.hide_on_mobile %} hide_mobile{% endif %}{% if series_handle == 'core-series' %} is-core-series{% endif %}">
    <style>
      #five-nation-{{ _sid }}{
        --bg: {{ section_bg_color }};
        --text: {{ dynamic_text_color }};
        --series-bg: {{ underline_color }};
        --featured: {{ featured_color }};
        --accent-1: {{ accent_1 }};
        --accent-2: {{ accent_2 }};
        --accent-3: {{ accent_3 }};
        --series-featured: {{ featured_color }};
        --series-featured-color: {{ featured_color }};
        --series-accent-2: {{ accent_2 }};
        --pl: {{ section.settings.padding_left_desktop | default: 0 }}px;
        --pr: {{ section.settings.padding_right_desktop | default: 0 }}px;
        --pl_m: {{ section.settings.padding_left_mobile | default: 0 }}px;
        --pr_m: {{ section.settings.padding_right_mobile | default: 0 }}px;
        {% if section.settings.section_bg_image %}
        background-image: url({{ section.settings.section_bg_image | img_url: 'master' }});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        {% else %}
        background: var(--bg);
        {% endif %}
        color: var(--text);
        position: relative;
        z-index: {{ section.settings.section_z_index | default: 2 }};
      }

      #five-nation-{{ _sid }} .yotpo-progress-bar {
      background: #ccc !important;
      margin-right: 0px !important;
      }

       #five-nation-{{ _sid }} .yotpo-star-distribution-value {
    height: 25px !important;
    width: 25px !important;
    display: flex !important;
    justify-content: center !important;
}

 #five-nation-{{ _sid }} .yotpo-star-distribution-bar {
   margin-left: 0 !important;
   margin-right: 0 !important;
    margin-top: 4px;
}

#five-nation-{{ _sid }} .yotpo-distribution-row {
gap:5px !important;
}

#five-nation-{{ _sid }} .yotpo-bold-layout .yotpo-bottom-line .yotpo-star-distribution {
   padding-inline-end: 0!important;
}

#five-nation-{{ _sid }} .yotpo-bottom-line .yotpo-star-distribution {
   padding-inline-end: 0!important;
}
      
      @media (max-width: 767px) {
        #five-nation-{{ _sid }} {
          {% if section.settings.show_grunge_borders %}
          padding-top: {{ section.settings.padding_top_mobile }}px;
          padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
          {% else %}
            {% if section.settings.both_sections_have_grunge %}
            padding-top: calc({{ section.settings.padding_top_mobile }}px + 50px);
            padding-bottom: calc({{ section.settings.padding_bottom_mobile }}px + 50px);
            {% else %}
              {% if section.settings.previous_section_has_grunge %}
              padding-top: calc({{ section.settings.padding_top_mobile }}px + 50px);
              {% else %}
              padding-top: 0px;
              {% endif %}
              {% if section.settings.next_section_has_grunge %}
              padding-bottom: calc({{ section.settings.padding_bottom_mobile }}px + 50px);
              {% else %}
              padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
              {% endif %}
            {% endif %}
          {% endif %}
          margin-top: {{ section.settings.margin_top_mobile }}px;
          margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
        }
      }
      
      @media (min-width: 768px) {
        #five-nation-{{ _sid }} {
          {% if section.settings.show_grunge_borders %}
          padding-top: {{ section.settings.padding_top_desktop }}px;
          padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
          {% else %}
            {% if section.settings.both_sections_have_grunge %}
            padding-top: calc({{ section.settings.padding_top_desktop }}px + 90px);
            padding-bottom: calc({{ section.settings.padding_bottom_desktop }}px + 90px);
            {% else %}
              {% if section.settings.previous_section_has_grunge %}
              padding-top: calc({{ section.settings.padding_top_desktop }}px + 90px);
              {% else %}
              padding-top: 0px;
              {% endif %}
              {% if section.settings.next_section_has_grunge %}
              padding-bottom: calc({{ section.settings.padding_bottom_desktop }}px + 90px);
              {% else %}
              padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
              {% endif %}
            {% endif %}
          {% endif %}
          margin-top: {{ section.settings.margin_top_desktop }}px;
          margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
        }
      }
      #five-nation-{{ _sid }} .t-center{ text-align:center }
      #five-nation-{{ _sid }} .text-uppercase{ text-transform:uppercase }
      #five-nation-{{ _sid }} .product-h2{ font-size:1.5rem; line-height:34px; font-family:'Gunplay' }
      #five-nation-{{ _sid }} .full-underline{ padding-left:30px; padding-right:30px; display:inline-block }
      #five-nation-{{ _sid }} .full-underline:before {
        background-color: var(--series-bg) !important;
      }
      #five-nation-{{ _sid }} .product-h2 {
        margin-bottom: {{ section.settings.header_spacing_mobile }}px;
      }
      @media (min-width: 768px) {
        #five-nation-{{ _sid }} .product-h2 {
          margin-bottom: {{ section.settings.header_spacing_desktop }}px;
        }
      }
      #five-nation-{{ _sid }} .instagram-links{ font-size:16px; line-height:26px; font-family:Acumin-Pro; margin-top:5px; margin-bottom:5px; text-transform:lowercase }
      #five-nation-{{ _sid }} .fivenation-reviews{ 
        padding-left:var(--pl); 
        padding-right:var(--pr); 
        position:relative; 
        z-index:2;
        max-width: {{ section.settings.reviews_max_width }}px;
        margin: 0 auto;
      }
      @media screen and (min-width: 768px) {
        #five-nation-{{ _sid }} .fivenation-reviews {
          max-width: {{ section.settings.reviews_max_width_desktop }}px;
        }
        #five-nation-{{ _sid }} .yotpo-review {
          max-width: none !important;
          width: 100% !important;
        }
        #five-nation-{{ _sid }} .yotpo-reviews-container {
          max-width: none !important;
        }
      }
      {% if section.settings.show_grunge_borders and section.settings.show_before %}
      #five-nation-{{ _sid }}::before{
        content:"";
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        width:100vw;
        {% if section.settings.before_image %}
        background-color: {{ grunge_color }};
        -webkit-mask-image: url({{ section.settings.before_image | img_url: 'master' }});
        mask-image: url({{ section.settings.before_image | img_url: 'master' }});
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-position: center;
        mask-position: center;
        {% endif %}
        top: {{ section.settings.before_offset_top_mobile }}px;
        height: {{ section.settings.before_height_mobile }}px;
        z-index: 0;
        display:block;
      }
      {% endif %}
      {% if section.settings.show_grunge_borders and section.settings.show_after %}
      #five-nation-{{ _sid }}::after{
        content:"";
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        width:100vw;
        {% if section.settings.after_image %}
        background-color: {{ grunge_color }};
        -webkit-mask-image: url({{ section.settings.after_image | img_url: 'master' }});
        mask-image: url({{ section.settings.after_image | img_url: 'master' }});
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-position: center;
        mask-position: center;
        {% endif %}
        bottom: {{ section.settings.after_offset_bottom }}px;
        height: {{ section.settings.after_height }}px;
        z-index: 0;
        display:block;
      }
      {% endif %}
      
      /* Yotpo Widget Styling */
      #five-nation-{{ _sid }} .content-container,
      #five-nation-{{ _sid }} .yotpo-bold-layout .yotpo-header-container,
      #five-nation-{{ _sid }} .card-container[data-v-742a2936] {
        background: {{ yotpo_content_bg }} !important;
        opacity: {{ yotpo_content_opacity }} !important;
      }
      
      /* Code Red Series Specific Styles */
      {% if series_handle == 'code-red' %}
      #five-nation-{{ _sid }} .content-container {
        background: var(--3746147e) !important;
      }
      #five-nation-{{ _sid }} .product-h2 {
        color: white !important;
      }
      #five-nation-{{ _sid }} .full-underline:before {
        background-color: black !important;
      }
      {% endif %}
      #five-nation-{{ _sid }} .yotpo-progress-bar .yotpo-progress-bar-score {
        background-color: {{ yotpo_progress_bar }} !important;
      }
      /* General SVG icons - removed fill/stroke to preserve defaults */
      /* Use specific selectors below for targeted color control */
      #five-nation-{{ _sid }} .yotpo-verified-icon circle {
        fill: {{ yotpo_verified_icon_circle }} !important;
      }
      #five-nation-{{ _sid }} .yotpo-verified-icon path {
        {% if section.settings.yotpo_verified_icon_check_source == 'transparent' %}
        stroke: {{ yotpo_content_bg }} !important;
        {% else %}
        stroke: {{ yotpo_verified_icon_check }} !important;
        {% endif %}
        fill: none !important;
      }
      #five-nation-{{ _sid }} #yotpo-main-widget-btn[data-v-4f716a87] {
        color: {{ yotpo_main_btn_text }} !important;
        background-color: {{ yotpo_main_btn_bg }} !important;
      }
      #five-nation-{{ _sid }} .yotpo-color-fill-btn {
        color: {{ yotpo_fill_btn_text }} !important;
        background-color: {{ yotpo_fill_btn_bg }} !important;
      }
      #five-nation-{{ _sid }} .yotpo-reviewer-verified-buyer-text {
        color: {{ yotpo_verified_text }} !important;
      }
      {% if is_apparel_or_gear %}
      /* Apparel/Gear Pagination Styles */
      #five-nation-{{ _sid }} .yotpo-vertical-pagination .yotpo-reviews-pagination-item {
        font-style: unset !important;
        font-weight: unset !important;
        font-size: unset !important;
        line-height: unset !important;
        height: unset !important;
        padding-top: unset !important;
        border-radius: unset !important;
        box-sizing: unset !important;
        text-align: center !important;
        cursor: pointer !important;
        border: 2px solid #ae1f24 !important;
        color: #ffffff !important;
        width: max-content !important;
        padding: 10px 28px !important;
        font-family: "gunplay", sans-serif !important;
        text-transform: uppercase !important;
        display: block !important;
        margin: 20px auto !important;
        background: #ae1f24 !important;
        transition: all var(--anim-ms) ease !important;
      }
      #five-nation-{{ _sid }} .yotpo-vertical-pagination .yotpo-reviews-pagination-item:hover {
        color: #ae1f24 !important;
        border-color: #ae1f24 !important;
        background: transparent !important;
      }
      {% elsif section.settings.use_read_more_pagination_style %}
      /* Read More Toggle Style for Pagination */
      #five-nation-{{ _sid }} .yotpo-vertical-pagination .yotpo-reviews-pagination-item {
        /* Reset Yotpo defaults */
        font-style: unset !important;
        font-weight: unset !important;
        font-size: unset !important;
        line-height: unset !important;
        height: unset !important;
        padding-top: unset !important;
        border-radius: unset !important;
        box-sizing: unset !important;
        /* Apply Read More Toggle styles */
        text-align: center !important;
        cursor: pointer !important;
        border: 2px solid {{ featured_color }} !important;
        {% if section_bg_color == '#ffffff' or section_bg_color == '#fff' or section_bg_color == 'white' %}
        color: #ffffff !important;
        {% else %}
        color: {{ accent_3 }} !important;
        {% endif %}
        width: max-content !important;
        padding: 10px 28px !important;
        font-family: "gunplay", sans-serif !important;
        text-transform: uppercase !important;
        display: block !important;
        margin: 20px auto !important;
        background: {{ featured_color }} !important;
        transition: all var(--anim-ms) ease !important;
      }
      #five-nation-{{ _sid }} .yotpo-vertical-pagination .yotpo-reviews-pagination-item:hover {
        color: {{ featured_color }} !important;
        border-color: {{ featured_color }} !important;
        {% if section_bg_color == '#ffffff' or section_bg_color == '#fff' or section_bg_color == 'white' %}
        background: {{ section_bg_color }} !important;
        {% else %}
        background: none !important;
        {% endif %}
      }
      {% else %}
      /* Default Pagination Styles */
      #five-nation-{{ _sid }} .yotpo-vertical-pagination .yotpo-reviews-pagination-item {
        color: {{ yotpo_pagination_text }} !important;
        border-color: {{ yotpo_pagination_border }} !important;
        background: {{ yotpo_pagination_bg }} !important;
      }
      #five-nation-{{ _sid }} .yotpo-vertical-pagination .yotpo-reviews-pagination-item:hover {
        color: {{ yotpo_pagination_hover_text }} !important;
        border-color: {{ yotpo_pagination_hover_border }} !important;
        background: {{ yotpo_pagination_hover_bg }} !important;
      }
      {% endif %}
      #five-nation-{{ _sid }} button,
      #five-nation-{{ _sid }} input,
      #five-nation-{{ _sid }} optgroup,
      #five-nation-{{ _sid }} select,
      #five-nation-{{ _sid }} textarea {
        color: {{ yotpo_input_text }} !important;
      }
      #five-nation-{{ _sid }} .yotpo-radio-base .yotpo-selected-value {
        color: {{ yotpo_radio_text }} !important;
      }
      {% if section_bg_color != '#ffffff' and section_bg_color != '#fff' and section_bg_color != 'white' %}
      /* Override colors for dark backgrounds */
      #five-nation-{{ _sid }} .yotpo-dropdown-closable.yotpo-reviews-widget-dropdown,
      #five-nation-{{ _sid }} .yotpo-dropdown-closable.yotpo-reviews-widget-dropdown .yotpo-selected-value {
        color: {{ accent_1 }} !important;
      }
      {% endif %}
      
      {% if series_handle == 'core-series' %}
      /* Core Series Specific Overrides - Higher Specificity */
      #five-nation-{{ _sid }}.is-core-series .content-container,
      #five-nation-{{ _sid }}.is-core-series .yotpo-bold-layout .yotpo-header-container,
      #five-nation-{{ _sid }}.is-core-series .card-container[data-v-742a2936] {
        background: color-mix(in srgb, var(--bg, #000) 85%, #696969 15%) !important;
        opacity: 1 !important;
      }

#five-nation-{{ _sid }}.is-core-series .yotpo-clear-filters-container,
.yotpo-matched-reviews, 
.yotpo-no-matching-reviews-primary,
.yotpo-no-matching-reviews-secondary{
color: white!important;
}

#five-nation-{{ _sid }}.is-core-series .yotpo-score-option{
    color: var(--series-border)!important;
}

      #five-nation-{{ _sid }}.is-core-series .yotpo-sr-bottom-line-text.yotpo-sr-bottom-line-text--right-panel,
      #five-nation-{{ _sid }}.is-core-series .yotpo-bottom-line-text,
      #five-nation-{{ _sid }}.is-core-series .yotpo-date-format {
        color: #fff !important;
      }
      #five-nation-{{ _sid }}.is-core-series .yotpo-reviewer-name {
        color: #fff !important;
      }
      #five-nation-{{ _sid }}.is-core-series .yotpo-star-distribution-index-wrapper .yotpo-star-distribution-index,
      #five-nation-{{ _sid }}.is-core-series .yotpo-star-distribution-value {
        color: var(--series-featured-color, var(--series-featured)) !important;
      }
      #five-nation-{{ _sid }}.is-core-series .yotpo-bottom-line .yotpo-bottom-line-left-panel.yotpo-bottom-line-score {
        color: #fff !important;
      }
      #five-nation-{{ _sid }}.is-core-series .yotpo-review-title,
      #five-nation-{{ _sid }}.is-core-series .yotpo-reviewer-verified-buyer-text {
        color: var(--series-featured-color, var(--series-featured)) !important;
      }
      #five-nation-{{ _sid }}.is-core-series .yotpo-text-container .yotpo-read-more-text[data-v-bea6cc2e] {
        color: #fff !important;
      }
      #five-nation-{{ _sid }}.is-core-series .yotpo-sr-vertical-border {
        border-right: 1px solid #fff !important;
      }
      #five-nation-{{ _sid }} .yotpo-new-review-btn-wrapper .yotpo-btn-s {
        border-left: none !important;
      }
      {% endif %}
      
      @media screen and (max-width:1024px){
        #five-nation-{{ _sid }} .product-h2{ font-size:1.5rem }
        #five-nation-{{ _sid }} .fivenation-reviews{ padding-left:var(--pl_m); padding-right:var(--pr_m) }
      }
      @media screen and (min-width:1025px){
        #five-nation-{{ _sid }} .product-h2{ font-size:2rem }
      }
      {% if section.settings.show_grunge_borders and section.settings.show_before %}
      @media (min-width:768px){
        #five-nation-{{ _sid }}::before{
          top: {{ section.settings.before_offset_top_desktop }}px;
          height: {{ section.settings.before_height_desktop }}px;
        }
      }
      {% endif %}
    </style>

    {% if section.settings.enable_header %}
      <div class="text-uppercase product-h2 t-center">
        {% if section.settings.enable_full_underline %}
          <div class="full-underline" style="text-align:center!important;">
            {{ section.settings.header_richtext }}
          </div>
        {% else %}
          <div style="text-align:center!important;">
            {{ section.settings.header_richtext }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="fivenation-reviews">
      <div class="yotpo yotpo-main-widget" 
           data-product-id="{{ product.id }}" 
           data-price="{{ product.price | money_without_currency }}" 
           data-currency="{{ shop.currency }}" 
           data-name="{{ product.title | escape }}" 
           data-url="{{ shop.url }}{{ product.url }}" 
           data-image-url="{{ product.featured_image | img_url: 'large' }}" 
           data-description="{{ product.description | strip_html | truncate: 150 | escape }}" 
           data-bread-crumbs="">
      </div>
    </div>
  </section>
{% endunless %}

{% schema %}
{
  "name": "Five Nation / Reviews",
  "tag": "section",
  "class": "section-five-nation-reviews",
  "settings": [
    { "type": "header", "content": "Main Section Controls" },
    { "type": "text", "id": "anchor_id", "label": "Anchor Tag Value", "info": "Add an anchor ID for linking to this section", "default": "5NationReviewsSection" },
    { "type": "checkbox", "id": "use_series_colors", "label": "Use Dynamic Product Series Colors Globally In Section", "default": true, "info": "When enabled, colors will be pulled from the Product Series metaobject" },
    { "type": "checkbox", "id": "show_grunge_borders", "label": "Show Grunge Borders", "default": true, "info": "Master toggle for all grunge borders. When disabled, top and bottom grunge borders will be hidden." },
    { "type": "checkbox", "id": "previous_section_has_grunge", "label": "Previous Section Has Grunge Borders", "default": false, "info": "Enable if the section above has grunge borders. Adds top padding to compensate." },
    { "type": "checkbox", "id": "next_section_has_grunge", "label": "Next Section Has Grunge Borders", "default": false, "info": "Enable if the section below has grunge borders. Adds bottom padding to compensate." },
    { "type": "checkbox", "id": "both_sections_have_grunge", "label": "Both Adjacent Sections Have Grunge Borders", "default": false, "info": "Enable if BOTH sections above AND below have grunge borders. Adds padding to top and bottom." },
    { "type": "checkbox", "id": "hide_on_mobile", "label": "Hide on Mobile", "default": false },
    { "type": "range", "id": "section_z_index", "label": "Section Z-Index (Layer Order)", "min": 1, "max": 100, "step": 1, "default": 2, "info": "Controls stacking order. Higher numbers appear on top. Adjust if grunge borders overlap incorrectly." },
    { "type": "checkbox", "id": "enable_header", "label": "Show Header", "default": true },
    { "type": "checkbox", "id": "enable_full_underline", "label": "Enable Full Underline Style", "default": true },
    { "type": "range", "id": "header_spacing_desktop", "label": "Header Bottom Spacing (Desktop)", "min": 0, "max": 100, "step": 2, "default": 40, "unit": "px", "info": "Space between header and content below" },
    { "type": "range", "id": "header_spacing_mobile", "label": "Header Bottom Spacing (Mobile)", "min": 0, "max": 100, "step": 2, "default": 30, "unit": "px", "info": "Space between header and content below" },
    
    { "type": "header", "content": "Content Settings" },
    { "type": "richtext", "id": "header_richtext", "label": "Header Text (Supports Links)", "default": "<p>Customer Reviews</p>" },
    { "type": "richtext", "id": "subheader_richtext", "label": "Subheader Text (Supports Links)", "default": "<p>What our customers are saying</p>" },
    { "type": "range", "id": "reviews_max_width", "label": "Reviews Widget Max Width Mobile (px)", "min": 600, "max": 1400, "step": 50, "default": 1000, "unit": "px" },
    { "type": "range", "id": "reviews_max_width_desktop", "label": "Reviews Widget Max Width Desktop (px)", "min": 800, "max": 1800, "step": 50, "default": 1500, "unit": "px" },
    
    { "type": "header", "content": "Color Controls (Optional)" },
    { "type": "paragraph", "content": "Leave blank to use dynamic series colors." },
    { "type": "color", "id": "section_bg_color", "label": "Section Background Color (Optional)", "info": "Leave blank to use grunge color or default background" },
    { "type": "image_picker", "id": "section_bg_image", "label": "Section Background Image (Optional)", "info": "If set, this will override the background color" },
    { "type": "color", "id": "bg_color", "label": "Background Color", "default": "#ffffff" },
    { "type": "select", "id": "text_color_source", "label": "Text Color Source", "default": "custom", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" },
      { "value": "custom", "label": "Custom (Use Text Color Below)" }
    ], "info": "Choose which series color to use for text" },
    { "type": "color", "id": "text_color", "label": "Text Color", "default": "#000000" },
    { "type": "select", "id": "underline_color_source", "label": "Header Underline Color Source", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Choose which series color to use for header underline" },
    
    { "type": "header", "content": "Yotpo Reviews - Header & Containers" },
    { "type": "paragraph", "content": "Controls for header container, review cards, and content backgrounds" },
    { "type": "select", "id": "yotpo_content_bg_source", "label": "Container Background", "default": "grunge", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (Light Grey #E8E8E8)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (Black with 15% opacity)" },
      { "value": "grunge", "label": "Use Grunge Border Color" }
    ], "info": "Background for header container, review cards, and content containers" },
    
    { "type": "header", "content": "Yotpo Reviews - Star Ratings & Icons" },
    { "type": "paragraph", "content": "Controls for star ratings, progress bars, and SVG icons" },
    { "type": "select", "id": "yotpo_svg_icon_source", "label": "Star Rating Icons", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Fill and stroke color for star rating icons" },
    { "type": "select", "id": "yotpo_progress_bar_source", "label": "Rating Progress Bar Fill", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Fill color for star distribution progress bars" },
    { "type": "select", "id": "yotpo_verified_icon_circle_source", "label": "Verified Icon - Circle Background", "default": "accent_3", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Circle background color for verified buyer icon" },
    { "type": "select", "id": "yotpo_verified_icon_check_source", "label": "Verified Icon - Checkmark", "default": "accent_1", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" },
      { "value": "transparent", "label": "Match Card Background" }
    ], "info": "Checkmark stroke color for verified buyer icon" },
    { "type": "select", "id": "yotpo_verified_text_source", "label": "Verified Buyer Text", "default": "accent_2", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color for 'Verified Buyer' or 'Verified Reviewer' label" },
    
    { "type": "header", "content": "Yotpo Reviews - Main Buttons" },
    { "type": "paragraph", "content": "Controls for 'Write A Review' and primary action buttons" },
    { "type": "select", "id": "yotpo_main_btn_text_source", "label": "Write Review Button - Text", "default": "accent_1", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color for 'Write A Review' button" },
    { "type": "select", "id": "yotpo_main_btn_bg_source", "label": "Write Review Button - Background", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Background color for 'Write A Review' button" },
    
    { "type": "header", "content": "Yotpo Reviews - Secondary Buttons" },
    { "type": "paragraph", "content": "Controls for 'Reviews Summary' and other secondary buttons" },
    { "type": "select", "id": "yotpo_fill_btn_text_source", "label": "Summary Button - Text", "default": "accent_1", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color for 'Reviews Summary' and color-fill buttons" },
    { "type": "select", "id": "yotpo_fill_btn_bg_source", "label": "Summary Button - Background", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Background color for 'Reviews Summary' and color-fill buttons" },
    { "type": "select", "id": "yotpo_button_text_source", "label": "Other Buttons - Text", "default": "accent_1", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color for other Yotpo buttons" },
    { "type": "select", "id": "yotpo_button_bg_source", "label": "Other Buttons - Background", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Background color for other Yotpo buttons" },
    
    { "type": "header", "content": "Yotpo Reviews - Pagination Controls" },
    { "type": "paragraph", "content": "Controls for 'Load more reviews' pagination button" },
    { "type": "checkbox", "id": "use_read_more_pagination_style", "label": "Use Read More Toggle Style for Pagination", "default": false, "info": "Apply the same styling as .read-more-toggle to pagination buttons" },
    { "type": "select", "id": "yotpo_pagination_text_source", "label": "Pagination - Text", "default": "accent_3", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color for pagination button" },
    { "type": "select", "id": "yotpo_pagination_border_source", "label": "Pagination - Border", "default": "accent_2", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Border color for pagination button" },
    { "type": "select", "id": "yotpo_pagination_bg_source", "label": "Pagination - Background", "default": "transparent", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" },
      { "value": "transparent", "label": "Transparent" }
    ], "info": "Background color for pagination button" },
    { "type": "select", "id": "yotpo_pagination_hover_text_source", "label": "Pagination Hover - Text", "default": "accent_1", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color on hover" },
    { "type": "select", "id": "yotpo_pagination_hover_border_source", "label": "Pagination Hover - Border", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Border color on hover" },
    { "type": "select", "id": "yotpo_pagination_hover_bg_source", "label": "Pagination Hover - Background", "default": "transparent", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" },
      { "value": "transparent", "label": "Transparent" }
    ], "info": "Background color on hover" },
    
    { "type": "header", "content": "Yotpo Reviews - Form Elements" },
    { "type": "paragraph", "content": "Controls for filters, dropdowns, and form inputs" },
    { "type": "select", "id": "yotpo_input_text_source", "label": "Form Input Text", "default": "accent_3", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color for inputs, buttons, selects, and textareas" },
    { "type": "select", "id": "yotpo_radio_text_source", "label": "Radio/Filter Selected Text", "default": "accent_3", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Text color for selected filter/radio options" },
    
    { "type": "header", "content": "Section Padding/Margins" },
    { "type": "range", "id": "margin_top_desktop", "label": "Margin Top (Desktop)", "min": -200, "max": 200, "step": 4, "default": 0, "unit": "px" },
    { "type": "range", "id": "margin_bottom_desktop", "label": "Margin Bottom (Desktop)", "min": -200, "max": 200, "step": 4, "default": 0, "unit": "px" },
    { "type": "range", "id": "margin_top_mobile", "label": "Margin Top (Mobile)", "min": -200, "max": 200, "step": 4, "default": 0, "unit": "px" },
    { "type": "range", "id": "margin_bottom_mobile", "label": "Margin Bottom (Mobile)", "min": -200, "max": 200, "step": 4, "default": 0, "unit": "px" },
    { "type": "range", "id": "padding_top_desktop", "label": "Padding Top (Desktop)", "min": 0, "max": 200, "step": 2, "default": 60, "unit": "px" },
    { "type": "range", "id": "padding_bottom_desktop", "label": "Padding Bottom (Desktop)", "min": 0, "max": 200, "step": 2, "default": 60, "unit": "px" },
    { "type": "range", "id": "padding_top_mobile", "label": "Padding Top (Mobile)", "min": 0, "max": 200, "step": 2, "default": 40, "unit": "px" },
    { "type": "range", "id": "padding_bottom_mobile", "label": "Padding Bottom (Mobile)", "min": 0, "max": 200, "step": 2, "default": 40, "unit": "px" },
    
    { "type": "header", "content": "Content Padding" },
    { "type": "range", "id": "padding_left_desktop", "label": "Left Padding Desktop (px)", "min": 0, "max": 200, "step": 2, "default": 0 },
    { "type": "range", "id": "padding_right_desktop", "label": "Right Padding Desktop (px)", "min": 0, "max": 200, "step": 2, "default": 0 },
    { "type": "range", "id": "padding_left_mobile", "label": "Left Padding Mobile (px)", "min": 0, "max": 100, "step": 2, "default": 16 },
    { "type": "range", "id": "padding_right_mobile", "label": "Right Padding Mobile (px)", "min": 0, "max": 100, "step": 2, "default": 16 },
    
    { "type": "header", "content": "Grunge Borders" },
    { "type": "select", "id": "grunge_border_color_source", "label": "Grunge Border Color", "default": "featured", "options": [
      { "value": "featured", "label": "Featured (WL:Red, Core:Gold, Code Red:Red)" },
      { "value": "accent_1", "label": "Accent 1 (WL:Wht, Core:Wht, Code Red:Grey)" },
      { "value": "accent_2", "label": "Accent 2 (WL:Grey, Core:Grey, Code Red:Grey)" },
      { "value": "accent_3", "label": "Accent 3 (All:Black)" }
    ], "info": "Color tint for grunge border SVG" },
    { "type": "checkbox", "id": "use_grunge_as_bg", "label": "Use Grunge Border Color as Section Background", "default": false, "info": "When enabled, section background will match the grunge border color" },
    { "type": "checkbox", "id": "show_before", "label": "Show Top Grunge Border", "default": false },
    { "type": "image_picker", "id": "before_image", "label": "Top Grunge Border Image" },
    { "type": "range", "id": "before_height_mobile", "label": "Top Grunge Border Height (Mobile)", "min": 20, "max": 300, "step": 4, "default": 52, "unit": "px" },
    { "type": "range", "id": "before_height_desktop", "label": "Top Grunge Border Height (Desktop)", "min": 20, "max": 300, "step": 4, "default": 52, "unit": "px" },
    { "type": "range", "id": "before_offset_top_mobile", "label": "Top Grunge Border Offset (Mobile)", "min": -200, "max": 200, "step": 4, "default": -40, "unit": "px" },
    { "type": "range", "id": "before_offset_top_desktop", "label": "Top Grunge Border Offset (Desktop)", "min": -300, "max": 300, "step": 10, "default": -50, "unit": "px" },
    { "type": "checkbox", "id": "show_after", "label": "Show Bottom Grunge Border", "default": false },
    { "type": "image_picker", "id": "after_image", "label": "Bottom Grunge Border Image" },
    { "type": "range", "id": "after_height", "label": "Bottom Grunge Border Height", "min": 20, "max": 300, "step": 4, "default": 64, "unit": "px" },
    { "type": "range", "id": "after_offset_bottom", "label": "Bottom Grunge Border Offset", "min": -300, "max": 300, "step": 10, "default": -50, "unit": "px" },
    
    { "type": "header", "content": "Fallback Colors (When No Series Detected)" },
    { "type": "paragraph", "content": "These colors are only used when a product has no series assigned. Normally, colors are pulled automatically from the product's series metaobject." },
    { "type": "color", "id": "fallback_accent_1", "label": "Accent 1 Light (White/White/Lt Grey)", "default": "#FFFFFF", "info": "WL: Flagship White #FFFFFF | Core: Core White #FFFFFF | Code Red: CR Light Grey #CECECE" },
    { "type": "color", "id": "fallback_accent_2", "label": "Accent 2 Neutral (Grey/Dk Grey/Grey)", "default": "#999999", "info": "WL: Flagship Grey #999999 | Core: Core Grey #585A5C | Code Red: CR Grey #BCBCBC" },
    { "type": "color", "id": "fallback_accent_3", "label": "Accent 3 Dark (Black)", "default": "#000000", "info": "All Series: #000000 - Used for text, shadows, and dark backgrounds" }
  ],
  "presets": [
    { "name": "Five Nation / Reviews" }
  ]
}
{% endschema %}
